<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.Testng.AppTest"/>
      <class name="com.qa.reliance.Trends"/>
      <class name="com.qa.base.SignIn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
